    
    
    <div class="d-flex">
      <!-- Sidebar -->
      
      <!-- End Sidebar   -->


      <div class="container">

        <div class="row p-3">
          <h4>Buscar: </h4> 

          <input type="text" class="form-control" placeholder="Buscar gifs...">
        
        </div>
        <hr />

        <div class="row">

          <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti numquam ducimus perspiciatis rem in fuga minus beatae distinctio eligendi vitae, autem doloribus esse doloremque libero molestiae impedit ratione quam quisquam?
          </div>


        </div>

        
        </div>

    </div>